# server configuration
NODE_ENV=development
HOST=localhost
PORT=5000
HOSTPROD=localhost # If production change to your host prod

# database configuration
PGUSER=postgres
PGPASSWORD=
PGDATABASE=openmusic
PGHOST=127.0.0.1
PGPORT=5432

# authentication
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=1800

# rabbitmq
RABBITMQ_SERVER=amqp://localhost

# redis
REDIS_SERVER=localhost
REDIS_PORT=6379
# Redis Password is optional
REDIS_PASSWORD=

# =========================
#     Using AWS Cloud (Optional)
# =========================
# =========================
#     SETUP AWS CLOUD
# =========================

# aws MQ
AWS_AMAZONMQ=

# aws s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# aws elasticache
AWS_ELASTICACHE=